

<div class="card-large">
  <% if @booking.vehicle.photo.attached?%>
    <%= cl_image_tag @booking.vehicle.photo.key, crop: :fill, class: "card-photo"%>
  <%end%>
  <div class="card-content">
    <p class="card-title" style= "font-size: 24px"><%= @booking.vehicle.name %></p>
    <br>
    <p class="card-text" style= "font-size: 16px"><%= @booking.vehicle.description %></p>
    <div>
      <p class="list-group-item"style= "font-size: 16px; background: white"> Catégorie : <%= @booking.vehicle.category %></p>
      <p class="list-group-item"style= "font-size: 16px; background: white"> Prix : <%= @booking.vehicle.price %> euros</p>
    </div>
    <% if @booking.vehicle.reviews.count > 0 %>
      <p style= "padding: 8px 16px" style= "font-size: 16px"> Moyenne : <%= @bookinG.vehicle.reviews.sum(:rating) /  @booking.vehicle.reviews.count%>/5</p>
    <% else %>
      <p style= "font-size: 16px; color: grey"> Soyez le premier à mettre un commentaire </p>
    <% end %>
    <div>
      <% @booking.vehicle.reviews.each do |review| %>
        <div class="notification">
          <%= image_tag('nono.jpg', class: "avatar-large") %>
          <div class="notification-content">
            <p><small>note : <%= review.rating %>/5</small></p>
            <p><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div id="booking-form-div"
      data-controller ='flatpickr'
      data-bookings="<%= @bookings_dates.to_json %>">
    </div>
    <div>
      <div class="form-wrapper">
        <%= simple_form_for [@booking.vehicle, @booking] do |f| %>
        <%= f.input :start_date, label: "calendrier",
                                  as: :string,
                                  required: false,
                                  label_html: {class: "btn btn-primary btn-card-large"},
                                  input_html: { id: "range_start", class: "d-none"} %>
        <%= f.button :submit, "Book", class: "btn btn-primary btn-card-large", id: "toggleButton" %>
        <% end %>
      </div>
    </div>
  </div>
<div>

<%# Calendrier  %>

<%# # test %>
<script>
  document.getElementById("toggleButton").addEventListener("click", function() {
    this.classList.toggle("active");
    if (this.classList.contains("active")) {
      console.log("Bouton activé");
    } else {
      console.log("Bouton désactivé");
    }
  });
</script>
</body>
</html>




