
<div class="container mt-5">
    <% current_user.reviews.each do |review| %>
      <div class="notification">
     <% if review.booking.vehicle.photo.key? %>
        <%= cl_image_tag review.booking.vehicle.photo.key, class: 'avatar-large'%>
        <%end%>
        <%# <img src=<'*' class="avatar-large" /> %>
        <div>
          <h4><%=review.booking.vehicle.name%></h4>
        </div>
        <div class="notification-content">
          <p><small>du <%=review.booking.start_date%></small></p>
          <p><small>au <%=review.booking.end_date %></small></p>
        </div>
        <div class="notification-content">
          <p><small>note : <%= review.rating %>/5</small></p>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
</div>
