<%= form_with url: "/vehicles", method: :get do |form| %>
  <%= form.check_box :aerien %>
  <%= form.label :aerien, "aerien" %>
  <%= form.check_box :terrestre %>
  <%= form.label :terrestre, "terrestre" %>
  <%= form.submit %>
<% end %>

<div class="container mt-5">
  <div class="row">
    <% @vehicles.each do |vehicle| %>
      <!-- Carte 1 -->
      <div class="col-md-3 mb-3">
          <div class="card">
          <% if vehicle.photo.attached? %>
              <%= cl_image_tag vehicle.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top"  %>
          <% end %>
              <div class="card-body">
                  <h5 class="card-title"><%= vehicle.name %></h5>
                  <p class="card-text"><%= vehicle.description %></p>
                  <%= link_to "détails", vehicle_path(vehicle) %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
