<h1>Formulaire de création d'une annonce</h1>
<%= form_with model: @vehicle do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.submit %>
<% end %>
