<h1>Créer mon annonce</h1>
<%= simple_form_for @vehicle do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: ["maritime", "terreste", "aerien"] %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
<br>

