<div class="card" style="width: 18rem;">
  <img src="https://fakeimg.pl/600x400" class="card-img-top" alt="Détails">
  <div class="card-body">
    <h5 class="card-title"><%= @vehicle.name %></h5>
    <p class="card-text"><%= @vehicle.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Catégorie : <%= @vehicle.category %></li>
    <li class="list-group-item"> Prix : <%= @vehicle.price %> euros</li>
  </ul>
  <div class="card-body">

    <%= link_to "Réserver", new_vehicle_booking_path(@vehicle.id), class: "btn btn-primary" %>

  </div>
  <p> Moyenne : <%= @vehicle.reviews.sum(&:rating) /  @vehicle.reviews.count%>/5</p>
  <div class="container mt-5">
      <% @vehicle.reviews.each do |review| %>
        <div class="notification">
          <img src='https://fakeimg.pl/600x400/041211/edb6e9?text=VEHICULE&font=museo' class="avatar-large" />
          <div class="notification-content">
            <p><small>note : <%= review.rating %>/5</small></p>
            <p><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

