<div class="card" style="width: 18rem;">
  <% if @vehicle.photo.attached?%>
    <%= cl_image_tag @vehicle.photo.key, crop: :fill, class: "card-img-top" %>

  <% else%>
    <div class="card-body">
      <h5 class="card-title"><%= @vehicle.name %></h5>
      <p class="card-text"><%= @vehicle.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Catégorie : <%= @vehicle.category %></li>
      <li class="list-group-item"> Prix : <%= @vehicle.price %> euros</li>
    </ul>
    <div class="card-body">
  <%end%>

    <%= link_to "Réserver", new_vehicle_booking_path(@vehicle.id), class: "btn btn-primary" %>

  </div>
  <% if @vehicle.reviews.count > 0 %>
    <p> Moyenne : <%= @vehicle.reviews.sum(:rating) /  @vehicle.reviews.count%>/5</p>
  <% else %>
    <p> Soyez le premier à mettre un commentaire </p>
  <% end %>
  <div class="container mt-5">
      <% @vehicle.reviews.each do |review| %>
        <div class="notification">
          <img src='https://fakeimg.pl/600x400/041211/edb6e9?text=VEHICULE&font=museo' class="avatar-large" />
          <div class="notification-content">
            <p><small>note : <%= review.rating %>/5</small></p>
            <p><%= review.comment %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="booking-form-div"
  data-controller ='flatpickr'
  data-bookings="<%= @bookings_dates.to_json %>">

  <div class="container">
  <div class="form-wrapper">
    <h2>Reserver</h2>
    <%= simple_form_for [@vehicle, Booking.new] do |f| %>
      <%= f.input :start_date, label: "calendrier",
                               as: :string,
                               required: false,
                               input_html: { id: "range_start", class: "d-none"} %>
      <%# <%= f.input :end_date, label: false,
                             as: :string,
                             required: false,
                             input_html: { id: "range_end", class: "d-none" } %>
      <%= f.button :submit, "Book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

</div>
